.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11, .col-md-12{

}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
body{

}
.navbar{
	margin-bottom: 0px;
	@include border-radius(0px);
}
a{
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
}
.btn{
	&:hover, &:active{
		outline: none;
	}
}
.form-control {
	@include border-radius(0px);
	&:focus, &:active{
		outline:none;
		@include box-shadow(none);
	}
}
p {padding: 0;}
img {
	max-width: 100%;
}
